* {
    box-sizing: border-box 0;
}

body {
  background-color: black;
  background-image: URL("../images/dario-bronnimann-hNQwIirOseE-unsplash.jpg");
  margin-bottom: auto;
  height: 100%;
}

header {
  padding: 20px;
  background-image: URL("../images/purplecosmos.jpg");
  background-position: center;
  background-repeat:no-repeat; 
  width: auto;
  height: auto;
  text-align: center;
}

header h1 {
  font-size: 100px;
  color:black;
  text-shadow: 2px 2px whitesmoke;
}

.nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
    justify-content: space-between;
}

.nav ul {
  list-style-type:none;
}

.nav ul li {
  margin-left:20px;
  display:inline-block;
}

.nav ul li a {
  color:black;
  text-shadow: 0.5px 0.5px whitesmoke;
  font-weight: bolder;
}

main {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    list-style: none;
    height: auto;
    width: 100%;
    padding: 20px;
    }

    .flex-container {
        display: flex;
        margin-top: 100px;
        margin-bottom: 100px;
      }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
    footer,
    .container h2,
    .development li h2,
    .marketing li h2,
    .art li h2, 
    #scrolling0--wrapper h2 {
        background-image: URL("../images/purplespace.jpg");
    }

    .container h2 {
        color: black;
        font-size: 50px;
        font-weight: bold;
        text-shadow: 1px 1px whitesmoke;
        margin: 0;
        padding: 30px;
        margin-top: 5%;
        text-align: center;
        min-width: 100px;
      }
      
      .about {
        display: flex;
        list-style: none;
        margin: 0;
        padding-top: 0;
        align-items: center;
      }
      
      .about ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0;
      }
      
      #img {
        display: flex;
        flex-direction: row;
      }
      
      #p {
        color: whitesmoke;
        text-shadow: 0.5px 0.5px black;
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
        background-image: URL("../images/purplecosmos.jpg");
        width: 66%;
        min-width: fit-content;
        padding: 5px;
      }
      
      #deployed {
      width:75%;
      margin:auto;
      }
      
      .development,
      .marketing,
      .art {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
      }
      
      .development li,
      .marketing li 
      .at li {
        display:block;
        padding: 5px;
      }

      .development li h2,
      .marketing li h2,
      .art li h2 {
        color:whitesmoke;
        text-shadow: 0.25px 0.25px black;
        text-align:center;
        font-weight: bold;
        margin-top: auto;
      }
      
      .development img {
      width: 100%;
      object-fit: cover;
      padding-top: 10px;
      align-items: center;
      }

      .marketing img,
      .art img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top: 10px;
      }

      /*added scrolling-wrapper for better organization and easier to view display*/
      .scroll-wrapper {
        display: inline-block;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll;
        white-space: nowrap;
        height: 800px;
        width: 50%;
      }
      
      #scroll-wrapper {
        display: inline-block;
        flex-direction: column;
        height: 800px;
        width: 50%;
      }
      
      #scroll-wrapper h2 {
        color:whitesmoke;
        text-shadow: 0.25px 0.25px black;
        background-image: URL("../images/purplespace.jpg");
        text-align: center;
        text-align:center;
        font-weight: bold;
        position: absolute;
        align-items: center;
        width:50%;
        height: 800px;
        margin-top: 5px;
      }

    #navbar {
        display:flex;
        justify-content: space-between;
        padding: 30px;
        margin:0;
        }
      
      footer {
          padding: 20px;
          margin-top: auto;
          font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          width: 100%;
          height: 100px;
      }
      
      footer ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        color: black;
        font-weight: bold;
        text-shadow: 1px 1px whitesmoke;
        font-size: 30px;
      }
    /*added media query to work with different media*/
      @media screen and (max-width: 768px) {
        body {
          background-image: URL("/challenges/02-Challenge_Portfolio/assets/images/purplespace");
          flex-wrap: wrap;
        }
        header h1 {
          font-size: 100px;
        }
        .about {
          font-size: 30px;
        }
      }